# Flutter client for TenderGo

This folder will contain:
- Flutter project for mobile client
- Screens for posting jobs and submitting offers
- Integration with REST API backend
- Real-time updates using WebSockets or Firebase

Status: Planning / In progress


# Flutter ignore
build/
.dart_tool/
.packages
.pub/
.idea/